<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <form [formGroup]="personalInformations">

      <div class="form-group">
        <label>Skills</label>
        <button type="button" class="btn btn-secondary btn-small m-2" (click)="addSkill()">Add skill</button>
        <input formControlName="skill" type="text" class="form-control" required minlength="10" [class.is-invalid]="_skill!.invalid && _skill!.touched">
        <div *ngIf="_skill!.invalid && _skill!.touched">
            <small *ngIf="_skill!.errors?.['required']" class="text-danger">Skill is required</small>
            <small *ngIf="_skill!.errors?.['minlength'] " class="text-danger">Skill must be at least 10 characters</small>        
        </div>
        <div formArrayName="Skills" *ngFor="let skill of Skills.controls ; let i=index" >
          <div class="d-flex">
            <input [class.is-invalid]="skill!.invalid && skill!.touched" type="text" class="form-control m-1" [formControlName]="i">
          <button type="button" class="btn btn-secondary btn-small m-2" (click)="deleteSkill(i)">Delete</button>
         
          </div>
           <small *ngIf="skill!.errors?.['required']"  [class.d-none]="skill!.valid || skill!.untouched" class="text-danger"> Skill is required</small>
          <small *ngIf="skill!.errors?.['minlength']"  [class.d-none]="skill!.valid || skill!.untouched" class="text-danger"> Skill must be at least 10 charactersd</small>

        </div>
        
      </div>

      <div class="form-group">
        <label>Professional Experiences</label>
        <button type="button" class="btn btn-secondary btn-small m-2" (click)="addExperience()">Add profesional experience</button>
        <input formControlName="experience" type="text" class="form-control" required minlength="10" [class.is-invalid]="_experience!.invalid && _experience!.touched">
        <div *ngIf="_experience!.invalid && _experience!.touched">
          <small *ngIf="_experience!.errors?.['required']" class="text-danger">Experience is required</small>
          <small *ngIf="_experience!.errors?.['minlength'] " class="text-danger">Experience must be at least 10 characters</small>        
      </div>
        <div formArrayName="ProfessionalExperience" *ngFor="let experience of ProfessionalExperience.controls ; let i=index" >
          <div class="d-flex">
            <input [class.is-invalid]="experience!.invalid && experience!.touched" type="text" class="form-control m-1" [formControlName]="i">
            <button type="button" class="btn btn-secondary btn-small m-2" (click)="deleteExperience(i)">Delete</button>
           
          </div>
            <small *ngIf="experience!.errors?.['required']"  [class.d-none]="experience!.valid || experience!.untouched" class="text-danger"> Experience is required</small>
            <small *ngIf="experience!.errors?.['minlength']"  [class.d-none]="experience!.valid || experience!.untouched" class="text-danger"> Experience must be at least 10 charactersd</small>

          </div>
        
      </div>
      <button [disabled]="personalInformations.invalid " class="btn btn-primary mt-2" type="submit">Submit</button>


    </form>
    
  </div>
 
</body>
</html>
